# MSRP Dataset

Author: Fatma Ben Ayed

Copyright (C) 2021 Fatma Ben Ayed and DynaGroup i.T. GmbH

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

**Dataset**

MRPC dataset a text file containing 5800 pairs of sentences which have been extracted from news sources on the web, along with human annotations indicating whether each pair captures a paraphrase/semantic equivalence relationship.
 * The column named Quality indicates whether the sentences are similar(1) or not (0). 
 *"#1 String" and "#2 String" columns contain the sentences

In [ ]:
with open('/content/drive/My Drive/Paraphrasing API/datasets/MSRP/msr_paraphrase_train.txt', "r") as file:
  text = file.read()

In [ ]:
splitted_text = text.split('\n')
splitted_text[:4]

['\ufeffQuality\t#1 ID\t#2 ID\t#1 String\t#2 String',
 '1\t702876\t702977\tAmrozi accused his brother, whom he called "the witness", of deliberately distorting his evidence.\tReferring to him as only "the witness", Amrozi accused his brother of deliberately distorting his evidence.',
 "0\t2108705\t2108831\tYucaipa owned Dominick's before selling the chain to Safeway in 1998 for $2.5 billion.\tYucaipa bought Dominick's in 1995 for $693 million and sold it to Safeway for $1.8 billion in 1998.",
 "1\t1330381\t1330521\tThey had published an advertisement on the Internet on June 10, offering the cargo for sale, he added.\tOn June 10, the ship's owners had published an advertisement on the Internet, offering the explosives for sale."]

In [ ]:
def extract_dataset(splitted_text):
  s1=[]
  s2=[]
  quality=[]

  # Ignore last sentence
  for sentence in splitted_text:
  value = sentence.split('\t')
  quality.append(value[0])
  s1.append(value[3])
  s2.append(value[4])

  return pd.DataFrame({'Quality': quality, "s1": s1, "s2": s2})

In [ ]:
df = extract_dataset(splitted_text)
df

       Quality  ...                                                 s2
0     ﻿Quality  ...                                          #2 String
1            1  ...  Referring to him as only "the witness", Amrozi...
2            0  ...  Yucaipa bought Dominick's in 1995 for $693 mil...
3            1  ...  On June 10, the ship's owners had published an...
4            0  ...  Tab shares jumped 20 cents, or 4.6%, to set a ...
...        ...  ...                                                ...
4072         1  ...  Brando said that "somebody ought to put a bull...
4073         0  ...  Martin served two thirds of a five-year senten...
4074         1  ...  In a statement, the ECB said the outlook for p...
4075         1  ...  MSNBC.com first reported the CIA request on Fr...
4076         0  ...  The 30-year bond US30YT=RR grew 1-3/32 for a y...

[4077 rows x 3 columns]

Example of 2 sentences and their similaritiy

In [ ]:
df.iloc[1]

Quality                                                    1
s1         Amrozi accused his brother, whom he called "th...
s2         Referring to him as only "the witness", Amrozi...
Name: 1, dtype: object

In [ ]:
value = splitted_text[1].split('\t')
print(value[3])
print(value[4])
print(value[0])

Amrozi accused his brother, whom he called "the witness", of deliberately distorting his evidence.
Referring to him as only "the witness", Amrozi accused his brother of deliberately distorting his evidence.
1

In [ ]:
print(f"Number of Training records = {len(df)}")

Number of Training records=4077

In [ ]:
df.to_csv('/content/drive/My Drive/Paraphrasing API/datasets/MSRP/msrp-train.csv', encoding='utf-8', index=False)

Test Dataset

In [ ]:
with open('/content/drive/My Drive/Paraphrasing API/datasets/MSRP/msr_paraphrase_test.txt', "r") as file:
  text = file.read()

In [ ]:
df = extract_dataset(text.split('\n'))
df_test

       Quality  ...                                                 s2
0     ﻿Quality  ...                                          #2 String
1            1  ...  Current Chief Operating Officer Mike Butcher a...
2            1  ...  Domestic sales at both GM and No. 2 Ford Motor...
3            1  ...  The Centers for Disease Control and Prevention...
4            0  ...  A tropical storm rapidly developed in the Gulf...
...        ...  ...                                                ...
1721         0  ...  Hernandez filed an Equal Employment Opportunit...
1722         0  ...  Democrats dominate the Assembly while Republic...
1723         0  ...  Bethany, who remained in stable condition afte...
1724         1  ...  The news comes after Drax's American owner, AE...
1725         1  ...  The virus spreads when unsuspecting computer u...

[1726 rows x 3 columns]

In [ ]:
print(f"Number of Training records = {len(df_test)}")

Number of Training records = 1726

In [ ]:
df.to_csv('/content/drive/My Drive/Paraphrasing API/datasets/MSRP/msrp-test.csv', encoding='utf-8', index=False)